--
-- PostgreSQL database dump
--

\restrict qBxCKtGJGU86OV4PH49gNNxKkEbfCivqjfHL9S10tK3bpW5K7n8uTTlHowDeMvO

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CASH',
    'PROMPTPAY',
    'CARD'
);


ALTER TYPE public."PaymentMethod" OWNER TO "user";

--
-- Name: Role; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'STAFF'
);


ALTER TYPE public."Role" OWNER TO "user";

--
-- Name: StockLogType; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."StockLogType" AS ENUM (
    'IN',
    'OUT',
    'ADJUST'
);


ALTER TYPE public."StockLogType" OWNER TO "user";

--
-- Name: TransactionStatus; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public."TransactionStatus" AS ENUM (
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."TransactionStatus" OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Category" OWNER TO "user";

--
-- Name: Product; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    name text NOT NULL,
    barcode text,
    price double precision NOT NULL,
    "costPrice" double precision,
    "stockQty" integer DEFAULT 0 NOT NULL,
    "lowStockThreshold" integer DEFAULT 5 NOT NULL,
    "isShortcut" boolean DEFAULT false NOT NULL,
    image text,
    "categoryId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO "user";

--
-- Name: RestockBill; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."RestockBill" (
    id text NOT NULL,
    "totalCost" double precision NOT NULL,
    note text,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RestockBill" OWNER TO "user";

--
-- Name: RestockItem; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."RestockItem" (
    id text NOT NULL,
    "restockBillId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer NOT NULL,
    "costPrice" double precision NOT NULL
);


ALTER TABLE public."RestockItem" OWNER TO "user";

--
-- Name: ShopConfig; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."ShopConfig" (
    id integer DEFAULT 1 NOT NULL,
    name text DEFAULT 'Shop PP'::text NOT NULL,
    address text DEFAULT '123 Market Street, City Center'::text,
    phone text DEFAULT '02-xxx-xxxx'::text,
    logo text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ShopConfig" OWNER TO "user";

--
-- Name: StockLog; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."StockLog" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "changeQty" integer NOT NULL,
    type public."StockLogType" NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    note text
);


ALTER TABLE public."StockLog" OWNER TO "user";

--
-- Name: Transaction; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."Transaction" (
    id text NOT NULL,
    "totalAmount" double precision NOT NULL,
    "paymentMethod" public."PaymentMethod" DEFAULT 'CASH'::public."PaymentMethod" NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."TransactionStatus" DEFAULT 'COMPLETED'::public."TransactionStatus" NOT NULL,
    "changeAmount" double precision DEFAULT 0 NOT NULL,
    "receivedAmount" double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public."Transaction" OWNER TO "user";

--
-- Name: TransactionItem; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."TransactionItem" (
    id text NOT NULL,
    "transactionId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer NOT NULL,
    price double precision NOT NULL
);


ALTER TABLE public."TransactionItem" OWNER TO "user";

--
-- Name: User; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public."User" (
    id text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    role public."Role" DEFAULT 'STAFF'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO "user";

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO "user";

--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public."Category" (id, name) FROM stdin;
4f097b23-ce54-48af-933b-947735cce0ac	เน€เธเธฃเธทเนเธญเธเน€เธเธตเธขเธ
e45f27bc-67ea-4853-8ecc-6f26ad058044	เธเธเธก/เน€เธเธฃเธทเนเธญเธเธ”เธทเนเธก
\.


--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: RestockBill; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: RestockItem; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: ShopConfig; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public."ShopConfig" (id, name, address, phone, logo, "updatedAt") FROM stdin;
1	Shop PP	123 Market Street, City Center	02-xxx-xxxx	\N	2026-05-09 04:47:00.395
\.


--
-- Data for Name: StockLog; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: Transaction; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: TransactionItem; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public."User" (id, username, password, name, role, "createdAt", "updatedAt") FROM stdin;
f0172b30-2d76-4765-bda0-364cceab9493	admin@shoppp.com	ADMIN_PASSWORD	เธเธธเธ“เธเธฃเธนเธ”เธนเนเธฅเธฃเธฐเธเธ	ADMIN	2026-05-08 05:29:10.371	2026-05-08 05:29:10.371
021b7ee5-35b9-4aac-b3b3-df321dab3b75	tanasontanason2562@gmail.com	FIREBASE_AUTH	Tanason Patchkron	ADMIN	2026-05-08 05:27:15.749	2026-05-08 05:30:18.1
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: RestockBill RestockBill_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."RestockBill"
    ADD CONSTRAINT "RestockBill_pkey" PRIMARY KEY (id);


--
-- Name: RestockItem RestockItem_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."RestockItem"
    ADD CONSTRAINT "RestockItem_pkey" PRIMARY KEY (id);


--
-- Name: ShopConfig ShopConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."ShopConfig"
    ADD CONSTRAINT "ShopConfig_pkey" PRIMARY KEY (id);


--
-- Name: StockLog StockLog_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."StockLog"
    ADD CONSTRAINT "StockLog_pkey" PRIMARY KEY (id);


--
-- Name: TransactionItem TransactionItem_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."TransactionItem"
    ADD CONSTRAINT "TransactionItem_pkey" PRIMARY KEY (id);


--
-- Name: Transaction Transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Category_name_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX "Category_name_key" ON public."Category" USING btree (name);


--
-- Name: Product_barcode_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX "Product_barcode_key" ON public."Product" USING btree (barcode);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: Product Product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RestockBill RestockBill_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."RestockBill"
    ADD CONSTRAINT "RestockBill_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RestockItem RestockItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."RestockItem"
    ADD CONSTRAINT "RestockItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RestockItem RestockItem_restockBillId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."RestockItem"
    ADD CONSTRAINT "RestockItem_restockBillId_fkey" FOREIGN KEY ("restockBillId") REFERENCES public."RestockBill"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StockLog StockLog_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."StockLog"
    ADD CONSTRAINT "StockLog_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: StockLog StockLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."StockLog"
    ADD CONSTRAINT "StockLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TransactionItem TransactionItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."TransactionItem"
    ADD CONSTRAINT "TransactionItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TransactionItem TransactionItem_transactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."TransactionItem"
    ADD CONSTRAINT "TransactionItem_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES public."Transaction"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Transaction Transaction_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict qBxCKtGJGU86OV4PH49gNNxKkEbfCivqjfHL9S10tK3bpW5K7n8uTTlHowDeMvO

